body {
  font-family: Arial, sans-serif;
  background-color: #0c111b;
  color: #fff;
  margin: 0;
  padding: 20px;
}

#app-container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  color: #f9f9f9;
  margin: 20px 0 10px 0;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

.container {
  margin-bottom: 20px;
}

.items-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.items-container::-webkit-scrollbar {
  display: none;
}

.item {
  background-color: #1f232c;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  flex: 0 0 auto;
}

.item img,
.item video{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #444;
}

.item p {
  font-size: 14px;
  color: #f9f9f9;
  margin: 10px;
  text-align: center;
}

.item.focus {
  transform: scale(1.1);
  z-index: 1;
  outline: 2px solid #00f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  background-color: #333;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.modal-media img,
.modal-media video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}
